@media (max-width: 850px) {
    #constraints {
        width: 80vw;
    }
}

@media (min-width: 851px) {
    #constraints {
        max-width: 600px;
    }
}

@media (min-width: 1100px) {
    #constraints {
        flex-direction: column;
    }
}